body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#app {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
}

#gameInfos {
    display: flex;
    width: 100%;
}

#gameInfos > p{
    margin-left: auto;
    display: flex;
    align-items: center;
    align-self: flex-end;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(45deg, #636363, #bdbdbd);
}

#gameInfos > p > span{
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    color: white;
    background: black;
}

#gameDesc {
    width: fit-content;
}

#tabelaCores {
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    gap: 0.5rem;
}

#tabelaCores > div {
    height: 15rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#tabelaCores .nomeCor {
    padding: 0.5rem;
    height: fit-content;
}

#dialogScreen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 50%);
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 1rem;
}

#dialog h2 {
    align-self: center;
}